<html>
    <head>
        <title>Link Shortner</title>
        <style>
            body{
                background-color: snow;
            }
            h1.head{
                font-size: 300%;
            }
            table.centre{
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    
    <body>
        <h1 class ="head" style="text-align: center;">Link Shortner</h1>
        <br>

        <form>
            <table class="centre">
                <tr>
                    <td>
                        Enter URL:
                    </td>
                    <td>
                        <input type="text" name="url">
                    </td>
                </tr>
                <tr>
                    <td>
                        Enter short form:
                    </td>
                    <td>
                        <input type="text" name="short">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="submit"> 
                    </td>
                </tr>
            </table>

        </form>
        
    </body>
</html>